footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(237, 142, 142);
  width: 100%;
  padding: 0.5em;
}
.line {
  width: 30%;
}
hr {
  margin-bottom: 0.5em;
}
.icons {
  margin-right: 1em;
}
.copyright {
  text-align: center;
  color: white;
  margin-bottom: 0.5em;
}

/* media queries*/
@media screen and (max-width: 1024px) {
  .line {
    width: 40%;
  }
}
@media screen and (max-width: 568px) {
  hr {
    display: none;
  }
}
